# --- Środowisko i Klucze (KRYTYCZNE) ---
.env
.env.backup
.env.production
php_errors.log
docker-compose.override.yml
package-lock.json

# --- Katalogi systemowe Laravela ---
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor

# --- Specyficzne dla Storage ---
# Ignorujemy wszystko w storage, ale zostawiamy strukturę katalogów
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Wyjątki dla storage (chcemy zachować pliki .gitignore w tych folderach)
!/storage/app/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# --- Testy i Narzędzia ---
.phpunit.result.cache
.phpunit.cache
/.pailingual
.styleci.yml

# --- IDE i Systemowe ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db