/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2023-12-16, 13:09:05
    Author     : ryba4
*/

@import "variables.scss";

.bread-crumb-container{
    
    @media only screen and (min-width: $desktopDim) {
        padding-left: 120px;
        padding-top: 60px;
        
    }
    
    
    
    .breadcrumb{
        padding: 15px;
        padding-top: 5px;
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: flex-start;
        flex-wrap: wrap;

        @media only screen and (min-width: $desktopDim) {
            max-width: 1200px;
            margin: 0 auto;
            padding-left: 10px;
        }    
        @media only screen and (min-width: 1200px) {
            padding-left: 35px;
        }
        @media only screen and (min-width: 1300px) {
            padding-left: 60px;
        }
        
        @media only screen and (min-width: 1400px) {
            padding-left: 25px;  
        }
        @media only screen and (min-width: 1500px) {
            max-width: 1270px;
            padding-left: 0px;
            padding-right: 0px;
        }
        
        .breadcrumb-item{
            padding: 2px 5px;
            padding-top: 8px;
            display: flex;
            font-size: 13px;
            max-width: 165px;
            @media only screen and (min-width: $desktopDim) {
                max-width: 265px;
            }
            
            a{
                color: black;
                font-size: 12px;
            }
            
            &:after{
                content: '>';
                display: flex;
                margin-top: -1px;
                padding-left: 7px;
                text-shadow: 2px 1px 3px #ceab3a;
                align-content: center;
                align-items: center;
            }
            
            &:last-child{
                &:after{
                    content: '';
                }
            }
        }
    }
}
