/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2023-12-03, 14:51:50
    Author     : ryba4
*/

$background: #F8F6F0;
$background2: #F4EFDF;
$background3: #F0EAD6;
$background-light: #FFFFFD;//#FAF9F4;

$red-background: #D25C5C;

$border-color-beige: #E8DDBB;

$dark-beige: #B7AD8E;

$font-color: black;
$font-gray: #7b7b7b;

$green-background: #01A03D;

$blue-background: #3C8A97;

$orange: #EFA055;

$front-text-color: #2C2C2C;

$bigPhoneDim: 500px;
$tabletDim: 641px;
$desktopDim: 1024px;
$bigDesktopDim: 1500px;

$contentMaxWidth: 1250px;
